<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "SentryPeer" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3">
        <div class="flex items-center gap-4">
          <a href="/">
            <svg viewBox="0 0 40.302814 53.481709" class="h-8" aria-hidden="true">
              <g id="layer1" transform="translate(-53.112717,-43.907589)">
                <g
                  id="g12"
                  transform="matrix(0.35277777,0,0,-0.35277777,73.26413,43.907589)"
                  style="fill:#ffffff;fill-opacity:1"
                >
                  <path
                    d="M 0,0 H -17.647 L 0,-70.805 Z"
                    style="fill:#6d50a0;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path14"
                  />
                </g>
                <g
                  id="g16"
                  transform="matrix(0.35277777,0,0,-0.35277777,65.564008,47.738649)"
                  style="fill:#6d50a0;fill-opacity:1"
                >
                  <path
                    d="m 0,0 21.827,-79.059 v -40.398 l -11.946,53.864 -26.6,33.448 v -39.963 l 26.472,-21.285 3.25,-47.349 -48.298,38.661 v 86.009 z"
                    style="fill:#6d50a0;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path18"
                  />
                </g>
                <g
                  id="g20"
                  transform="matrix(0.35277777,0,0,-0.35277777,73.26413,43.907589)"
                  style="fill:#6d50a0;fill-opacity:1"
                >
                  <path
                    d="M 0,0 H 17.647 L 0,-70.805 Z"
                    style="fill:#6d50a0;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path22"
                  />
                </g>
                <g
                  id="g24"
                  transform="matrix(0.35277777,0,0,-0.35277777,80.96424,47.738649)"
                  style="fill:#6d50a0;fill-opacity:1"
                >
                  <path
                    d="m 0,0 -21.827,-79.059 v -40.398 l 11.946,53.864 26.6,33.448 v -39.963 l -26.472,-21.285 -3.25,-47.349 48.298,38.661 v 86.009 z"
                    style="fill:#6d50a0;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path26"
                  />
                </g>
              </g>
            </svg>
          </a>
          <p class="rounded-full bg-brand/5 px-2 text-[0.8125rem] font-medium leading-6 text-brand">
            v<%= @app_version %>
          </p>
        </div>
        <div class="flex items-center gap-4">
          <%= if @current_user do %>
            <.link
              href={~p"/events"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Events
            </.link>
            <.link
              href={~p"/logout"}
              class="rounded-lg bg-brand/5 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-zinc-200/80 active:text-zinc-900/70"
            >
              Logout
            </.link>
          <% else %>
            <.link
              href={~p"/login"}
              class="rounded-lg bg-brand/5 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-zinc-200/80 active:text-zinc-900/70"
            >
              Login
            </.link>
          <% end %>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
