<!DOCTYPE html>
<html class="h-full" lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Gavin Henry." />
    <meta name="copyright" content="Gavin Henry, Ant Networks Limited." />
    <meta name="robots" content="index,follow" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "SentryPeer" %>
    </.live_title>

    <meta
      name="description"
      content="Use SentryPeer to help prevent VoIP cyberattacks and fraudulent phone calls by detecting early stage reconnaissance attempts."
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://sentrypeer.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SentryPeer" />
    <meta
      property="og:description"
      content="Use SentryPeer to help prevent VoIP cyberattacks and fraudulent phone calls by detecting early stage reconnaissance attempts."
    />
    <meta
      property="og:image"
      content="https://github.com/SentryPeer/SentryPeer/raw/main/logo/LogoStandard.png"
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="sentrypeer.com" />
    <meta property="twitter:url" content="https://sentrypeer.com" />
    <meta name="twitter:title" content="SentryPeer" />
    <meta
      name="twitter:description"
      content="Use SentryPeer to help prevent VoIP cyberattacks and fraudulent phone calls by detecting early stage reconnaissance attempts."
    />
    <meta
      name="twitter:image"
      content="https://github.com/SentryPeer/SentryPeer/raw/main/logo/LogoStandard.png"
    />
    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="icon" type="image/png" href={~p"/images/favicon.png"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased w-full min-h-full">
    <%= @inner_content %>
  </body>
</html>
