<div class="bg-white dark:bg-slate-400">
  <%= home_page_header(assigns) %>
  <!-- Pricing section -->
  <div class="mx-auto dark:bg-slate-400 mt-16 max-w-7xl px-6 sm:mt-32 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
        Pricing plans for teams of&nbsp;all&nbsp;sizes
      </h1>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600 dark:text-slate-800">
      Select the right plan for your use case or <a
        href={~p"/contact"}
        class="text-indigo-600 hover:text-brand"
        title="Contact us to discuss your exact needs"
      >contact us</a>.
    </p>
    <div class="mt-16 text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl flex justify-center">
      <h2>Free Plans</h2>
    </div>
    <div class="mt-4 tracking-tight flex justify-center">
      <p class="text-gray-600 dark:text-slate-800">
        We want you to get started with SentryPeer® straight away.
      </p>
    </div>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="rounded-3xl p-8 xl:p-10 ring-1 ring-gray-200">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-tester" class="text-lg font-semibold leading-8 text-gray-900">
            Tester
          </h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          Have a play with SentryPeer® as soon as possible.
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;0</span>
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month
          </span>
        </p>
        <form method="post" action={~p"/pricing/new"} phx-submit="subscribe">
          <input type="hidden" name="product" value={tester_plan_id()} />
          <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
          <button
            phx-disable-with="Subscribing..."
            phx-throttle="2000"
            title="Subscribe to the Tester plan"
            type="submit"
            aria-describedby="tier-tester"
            class="mt-6 block rounded-md py-2 px-3 flex w-full items-center justify-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
          >
            Choose plan
          </button>
        </form>

        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            5 x API queries per hour
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            1 x API client (for one PBX)
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Basic Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Community support
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 xl:p-10 ring-1 ring-gray-200">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-enterprise" class="text-lg font-semibold leading-8 text-gray-900">
            Free with
            <a
              href="https://admob.google.com/home/resources/rewarded-ads-win-for-everyone/"
              class="text-indigo-600 hover:text-brand"
              target="_blank"
              rel="noopener noreferrer"
              title="Rewarded ads provide an opportunity for users to watch a video or engage with a playable ad in exchange for API credits."
            >
              Rewarded Ads <Heroicons.arrow_top_right_on_square class="inline-block w-4 h-4" />
            </a>
          </h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          Watch a video or engage with a playable ad to earn API usage credits.
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;0</span>
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month
          </span>
        </p>
        <a
          href="#"
          aria-describedby="tier-enterprise"
          class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
        >
          Coming soon
        </a>
        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            5 x API queries per hour
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            1 x API client (for one PBX)
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Basic Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Community support
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Earn API query credits via Rewarded Ads
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 xl:p-10 ring-2 ring-indigo-600">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-contributor" class="text-lg font-semibold leading-8 text-indigo-600">
            Contributor
          </h3>
          <p class="rounded-full bg-indigo-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-indigo-600">
            Most popular
          </p>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          Run your own
          <a
            href="https://github.com/SentryPeer/SentryPeer#protect-your-sip-servers-from-bad-actors"
            class="text-indigo-600 hover:text-brand"
            target="_blank"
            rel="noopener noreferrer"
          >
            SentryPeer® nodes <Heroicons.arrow_top_right_on_square class="inline-block w-3 h-3" />
          </a>
          and consume that data via our APIs.
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;0</span>
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month
          </span>
        </p>
        <form method="post" action={~p"/pricing/new"} phx-submit="subscribe">
          <input type="hidden" name="product" value={contributor_plan_id()} />
          <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
          <button
            phx-disable-with="Subscribing..."
            phx-throttle="2000"
            title="Subscribe to the Contributor plan"
            type="submit"
            aria-describedby="tier-contributor"
            class="mt-6 block rounded-md py-2 px-3 flex w-full items-center justify-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
          >
            Choose plan
          </button>
        </form>
        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            API query limits based on contributions
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            5 x API clients, unlimited nodes
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Basic Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Community support
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Earn API query credits via Rewarded Ads
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Leaderboard listing
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-20 text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl flex justify-center">
      <h2>Business Plans</h2>
    </div>
    <div class="mt-4 tracking-tight flex justify-center">
      <p class="text-gray-600 dark:text-slate-800">
        Get support for SentryPeer® from its creators.
      </p>
    </div>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="rounded-3xl p-8 xl:p-10 ring-1 ring-gray-200">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-business-small" class="text-lg font-semibold leading-8 text-gray-900">
            Small
          </h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          The essentials plan for small businesses that run one phone system.
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;39</span>
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month ex VAT
          </span>
        </p>
        <form method="post" action={~p"/pricing/new"} phx-submit="subscribe">
          <input type="hidden" name="product" value={business_small_plan_id()} />
          <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
          <button
            phx-disable-with="Subscribing..."
            phx-throttle="2000"
            title="Subscribe to the Small Business plan"
            type="submit"
            aria-describedby="tier-business-small"
            class="mt-6 block rounded-md py-2 px-3 flex w-full items-center justify-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
          >
            Buy plan
          </button>
        </form>
        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            5 x API queries per minute
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            1 x API client (for one PBX)
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            48-hour support max response time
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 xl:p-10 ring-2 ring-indigo-600">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-business-medium" class="text-lg font-semibold leading-8 text-indigo-600">
            Medium
          </h3>
          <p class="rounded-full bg-indigo-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-indigo-600">
            Most popular
          </p>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          A plan that allows for a multi-location business with numerous PBXs.
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;99</span>
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month ex VAT
          </span>
        </p>
        <form method="post" action={~p"/pricing/new"} phx-submit="subscribe">
          <input type="hidden" name="product" value={business_medium_plan_id()} />
          <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
          <button
            phx-disable-with="Subscribing..."
            phx-throttle="2000"
            title="Subscribe to the Medium Business plan"
            type="submit"
            aria-describedby="tier-business-medium"
            class="mt-6 block rounded-md py-2 px-3 flex w-full items-center justify-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
          >
            Buy plan
          </button>
        </form>
        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            25 x API queries per min per client
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            10 x API clients (for 10 PBXs)
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            24-hour support max response time
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integration support
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 xl:p-10 ring-1 ring-gray-200">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-business-large" class="text-lg font-semibold leading-8 text-gray-900">
            Large
          </h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          When you need the most flexibility and feature combinations.
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;299</span>
          <!-- Payment frequency, update based on frequency toggle state -->
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month ex VAT
          </span>
        </p>
        <form method="post" action={~p"/pricing/new"} phx-submit="subscribe">
          <input type="hidden" name="product" value={business_large_plan_id()} />
          <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
          <button
            phx-disable-with="Subscribing..."
            phx-throttle="2000"
            title="Subscribe to the Large Business plan"
            type="submit"
            aria-describedby="tier-business-large"
            class="mt-6 block rounded-md py-2 px-3 flex w-full items-center justify-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
          >
            Buy plan
          </button>
        </form>
        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            API query limits based on your needs
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Unlimited API clients
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            4-hour support max response time
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integration support
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Customisation options
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-20 text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl flex justify-center">
      <h2>Service Provider Plans</h2>
    </div>
    <div class="mt-4 tracking-tight flex justify-center">
      <p class="text-gray-600 dark:text-slate-800">
        When you need the highest throughput and anonymity for your customers data.
      </p>
    </div>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="rounded-3xl p-8 xl:p-10 ring-2 ring-indigo-600">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-itsp-small" class="text-lg font-semibold leading-8 text-indigo-600">
            Small
          </h3>
          <p class="rounded-full bg-indigo-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-indigo-600">
            Most popular
          </p>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          Company Turnover &pound;0-&pound;1M per year
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;99</span>
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month ex VAT
          </span>
        </p>
        <form method="post" action={~p"/pricing/new"} phx-submit="subscribe">
          <input type="hidden" name="product" value={service_provider_small_plan_id()} />
          <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
          <button
            phx-disable-with="Subscribing..."
            phx-throttle="2000"
            title="Subscribe to the Small Service Provider plan"
            type="submit"
            aria-describedby="tier-itsp-small"
            class="mt-6 block rounded-md py-2 px-3 flex w-full items-center justify-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
          >
            Buy plan
          </button>
        </form>
        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            5 x API queries per second per client
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Unlimited API clients
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            4-hour support max response time
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integration support
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Anonymity API query feature
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 xl:p-10 ring-1 ring-gray-200">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-itsp-medium" class="text-lg font-semibold leading-8 text-gray-900">
            Medium
          </h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          Company Turnover &pound;1M-&pound;5M per year
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;299</span>
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month ex VAT
          </span>
        </p>
        <form method="post" action={~p"/pricing/new"} phx-submit="subscribe">
          <input type="hidden" name="product" value={service_provider_medium_plan_id()} />
          <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
          <button
            phx-disable-with="Subscribing..."
            phx-throttle="2000"
            title="Subscribe to the Medium Service Provider plan"
            type="submit"
            aria-describedby="tier-itsp-medium"
            class="mt-6 block rounded-md py-2 px-3 flex w-full items-center justify-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
          >
            Buy plan
          </button>
        </form>
        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            25 x API queries per second per client
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Unlimited API clients
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            4-hour support max response time
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integration support
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Anonymity API query feature
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Customisation options
          </li>
        </ul>
      </div>
      <div class="rounded-3xl p-8 xl:p-10 ring-1 ring-gray-200">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-itsp-large" class="text-lg font-semibold leading-8 text-gray-900">
            Large
          </h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-slate-800">
          Company Turnover &pound;5M+ per year
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">&pound;599</span>
          <span class="text-sm font-semibold leading-6 text-gray-600 dark:text-slate-800">
            /month ex VAT
          </span>
        </p>
        <form method="post" action={~p"/pricing/new"} phx-submit="subscribe">
          <input type="hidden" name="product" value={service_provider_large_plan_id()} />
          <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
          <button
            phx-disable-with="Subscribing..."
            phx-throttle="2000"
            title="Subscribe to the Large Service Provider plan"
            type="submit"
            aria-describedby="tier-itsp-large"
            class="mt-6 block rounded-md py-2 px-3 flex w-full items-center justify-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300"
          >
            Buy plan
          </button>
        </form>
        <ul
          role="list"
          class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-slate-800 xl:mt-10"
        >
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            API query limits based on your needs
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Unlimited API clients
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integrations, Analytics and Insights
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            4-hour support max response time
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Integration support
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Anonymity API query feature
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Customisation options
          </li>
          <li class="flex gap-x-3">
            <svg
              class="h-6 w-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
            Consultancy and training
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- FAQ section -->
  <div class="mx-auto my-24 max-w-7xl px-6 sm:my-56 lg:px-8">
    <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
      <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">
        Frequently Asked Questions
      </h2>
      <dl class="mt-10 space-y-6 divide-y divide-gray-900/10">
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-0"
              phx-click={toggle_faq("#faq-0")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                What if I still get hit with VoIP fraud even if I'm using SentryPeer APIs?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-0-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <svg
                  id="faq-0-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              Our aim is to help you prevent VoIP fraud from happening in the first place. We do this by collecting real reconnaissance data from our global network of SentryPeer nodes and use it to identify and alert you when we see test phone calls to numbers we have seen before. Unfortunately, if there is no data match, then we can't alert you. What we are working on though, is to also alert you when we see call attempts that don't match your normal call patterns.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              phx-click={toggle_faq("#faq-1")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                What if I don't want you to see any of the numbers my team or customers are calling?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-1-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <svg
                  id="faq-1-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              With our <a
                href={~p"/pricing"}
                title="SentryPeer Pricing"
                class="text-indigo-600 hover:text-brand"
              >
              Service Provider Plans</a>, you can send us anonymised data in your API queries. This works by you taking a cryptographic hash of the data you want to send us, and then sending us a portion of the hash. We then match that against that hash prefix and send you the results in our API response. You compare the full hashes on your side. There is absolutely no need to send your CDRs to us. <a
                href="https://github.com/SentryPeer/SentryPeer"
                title="Protect your SIP Servers from bad actors at https://sentrypeer.org"
                class="text-indigo-600 hover:text-brand"
                target="_blank"
                rel="noopener noreferrer"
              >
              SentryPeer can be self-hosted</a>, so you can run it on your own infrastructure.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-2"
              phx-click={toggle_faq("#faq-2")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                Do you offer any consultancy services to help me roll SentryPeer out?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-2-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-2-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-2">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              We'd love to help you get the most out of SentryPeer. We can help you with everything from setting up your account, to configuring your PBX to work with SentryPeer, to helping you understand the alerts you receive. We can also help you with any other VoIP security related issues you may have. Please
              <a
                href={~p"/contact"}
                class="text-indigo-600 hover:text-brand"
                title="Contact us to discuss your exact needs"
              >
                contact us
              </a>
              to discuss your exact needs.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-3"
              phx-click={toggle_faq("#faq-3")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                How do I cancel the service?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-3-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-3-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-3">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              Just go to the <span class="italic">Plan &amp; Billing</span>
              when logged in and click the <span class="italic">Manage Subscription</span>
              link. You will then be asked to confirm your cancellation. Once you confirm, your account will be cancelled and you will not be charged again. You will still be able to access your account until the end of your current billing period.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-4"
              phx-click={toggle_faq("#faq-4")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                What is the contract length?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-4-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <svg
                  id="faq-4-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-4">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              All of our plans are month-to-month (30 days). You can cancel at any time and you will not be charged again. You will still be able to access your account until the end of your current billing period.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-5"
              phx-click={toggle_faq("#faq-5")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                Is this a UK only service?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-5-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <!--
                                  Icon when question is expanded.

                                  Item expanded: "", Item collapsed: "hidden"
                                -->
                <svg
                  id="faq-5-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-5">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              We run this service on a very reliable cloud platform. At the moment we have only deployed this in the UK, but can easily deploy new versions in different parts of the world to service your workloads.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-6"
              phx-click={toggle_faq("#faq-6")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                What if I don't think you can handle our traffic?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-6-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-6-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-6">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              Fair point. This platform is powered by the
              <a
                href="https://www.phoenixframework.org/"
                title="Phoenix runs on the Erlang VM with the ability to handle millions of WebSocket connections. "
                class="text-indigo-600 hover:text-brand"
                target="_blank"
                rel="noopener noreferrer"
              >
                Phoenix Framework
              </a>
              and
              <a
                href="https://elixir-lang.org/"
                title="Elixir is a dynamic, functional language for building scalable and maintainable applications."
                class="text-indigo-600 hover:text-brand"
                target="_blank"
                rel="noopener noreferrer"
              >
                Elixir
              </a>
              for the best reliability and scalability, and is also <a
                href="https://github.com/SentryPeer/SentryPeerHQ"
                title="Use SentryPeer® HQ to help prevent VoIP cyberattacks and fraudulent VoIP phone calls (toll fraud) at https://sentrypeer.com"
                class="text-indigo-600 hover:text-brand"
                target="_blank"
                rel="noopener noreferrer"
              >open source</a>. We think it can cope, but do please
              <a
                href={~p"/contact"}
                class="text-indigo-600 hover:text-brand"
                title="Contact us to discuss your exact needs"
              >
                get in touch
              </a>
              for a deeper tech chat.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-7"
              phx-click={toggle_faq("#faq-7")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                Can I make any feature requests?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-7-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-7-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-7">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              Of course! Just open an issue on our
              <a
                href="https://github.com/SentryPeer/SentryPeerHQ/issues/new"
                title="Use SentryPeer® HQ to help prevent VoIP cyberattacks and fraudulent VoIP phone calls (toll fraud) at https://sentrypeer.com"
                class="text-indigo-600 hover:text-brand"
                target="_blank"
                rel="noopener noreferrer"
              >
                GitHub repo
              </a>
              and we'll take a look.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-8"
              phx-click={toggle_faq("#faq-8")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                Do you have a status page where I can see your uptime?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-8-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-8-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-8">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              Yes we do - you can find it at
              <a
                href="https://status.sentrypeer.com"
                title="The SentryPeer® HQ Status Page."
                class="text-indigo-600 hover:text-brand"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://status.sentrypeer.com
              </a>
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-9"
              phx-click={toggle_faq("#faq-9")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                Can I test this out before giving you any money?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-9-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-9-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-9">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              We recommend trying our Tester Plan, which is free and allows you to test out our service with no expiration date. You are however limited to 5 API queries per hour.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-10"
              phx-click={toggle_faq("#faq-10")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                What if my use case doesn't fit any of these plans?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-10-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-10-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-10">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              Please
              <a
                href={~p"/contact"}
                class="text-indigo-600 hover:text-brand"
                title="Contact us to discuss your exact needs"
              >
                get in touch
              </a>
              with us, and we'll be happy to discuss your exact needs and come up with a plan that works for you.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-11"
              phx-click={toggle_faq("#faq-11")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                What data of mine do you keep?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-11-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-11-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-11">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              Please see our
              <.link
                navigate={~p"/privacy-policy"}
                class="text-indigo-600 hover:text-brand"
                title="Read the SentryPeer Privacy Policy"
              >
                Privacy Policy
              </.link>
              for details on what data we keep and how we use it.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-12"
              phx-click={toggle_faq("#faq-12")}
              aria-expanded="false"
            >
              <span class="text-base font-semibold leading-7">
                Can I incorporate SentryPeer data and use its APIs in our product?
              </span>
              <span class="ml-6 flex h-7 items-center">
                <svg
                  id="faq-12-expanded"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>

                <svg
                  id="faq-12-collapsed"
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="hidden mt-2 pr-12" id="faq-12">
            <p class="text-base leading-7 text-gray-600 dark:text-slate-800">
              It sounds like you'd be a perfect fit for our
              <a
                href={~p"/partners"}
                class="text-indigo-600 hover:text-brand"
                title="Become a SentryPeer Partner"
              >
                Partner Program.
              </a>
              Please have read and
              <a
                href={~p"/contact"}
                class="text-indigo-600 hover:text-brand"
                title="Contact us to discuss your exact needs"
              >
                get in touch.
              </a>
            </p>
          </dd>
        </div>
        <!-- More questions... -->
      </dl>
    </div>
    <p class="mt-8 text-base leading-7 text-gray-600 dark:text-slate-800">
      If you have any other questions, we'd love to <a
        href={~p"/contact"}
        class="text-indigo-600 hover:text-brand"
        title="Contact us to discuss your exact needs"
      >chat with you</a>.
    </p>
  </div>

  <%= footer(assigns) %>
</div>
