<h2 class="mb-8 text-3xl text-center text-gray-600">
  You are invited to join the team
</h2>

<p class="pb-6">Please use the following link to join</p>

<p class="pb-6 text-center">
  <.link
    href="//"
    class="inline-block pt-2 pb-2 pl-3 pr-3 text-xs font-semibold text-blue-100 no-underline uppercase bg-blue-700 border border-blue-500 rounded"
  >
    Click to join
  </.link>
</p>

<p>You can disregard this email if you think it was sent to you by mistake.</p>
