@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* For our Tailwindui theme */
.phx-connected, .phx-loading, .phx-error {
    height: 100%;
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

#btn-back-to-top {
    position: fixed;
    display: none;
}