<!DOCTYPE html>
<html class="h-full" lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Gavin Henry." />
    <meta name="copyright" content="Gavin Henry, Ant Networks Limited." />
    <meta name="robots" content="index,follow" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>500 Internal Server Error</title>
    <!-- SPDX-License-Identifier: AGPL-3.0                      -->
<!-- Copyright (c) 2023 - 2025 Gavin Henry <ghenry@sentrypeer.org> -->
<!--   _____            _              _____                -->
<!--  / ____|          | |            |  __ \               -->
<!-- | (___   ___ _ __ | |_ _ __ _   _| |__) |__  ___ _ __  -->
<!--  \___ \ / _ \ '_ \| __| '__| | | |  ___/ _ \/ _ \ '__| -->
<!--  ____) |  __/ | | | |_| |  | |_| | |  |  __/  __/ |    -->
<!-- |_____/ \___|_| |_|\__|_|   \__, |_|   \___|\___|_|    -->
<!--                              __/ |                     -->
<!--                             |___/                      -->
    <meta
      name="description"
      content="Use SentryPeer to help prevent VoIP cyberattacks, fraudulent phone calls and improve cybersecurity by detecting early stage reconnaissance attempts."
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://sentrypeer.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SentryPeer" />
    <meta
      property="og:description"
      content="Use SentryPeer to help prevent VoIP cyberattacks, fraudulent phone calls and improve cybersecurity by detecting early stage reconnaissance attempts."
    />
    <meta
      property="og:image"
      content="https://github.com/SentryPeer/SentryPeer/raw/main/logo/LogoStandard.png"
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="sentrypeer.com" />
    <meta property="twitter:url" content="https://sentrypeer.com" />
    <meta name="twitter:title" content="SentryPeer" />
    <meta
      name="twitter:description"
      content="Use SentryPeer to help prevent VoIP cyberattacks, fraudulent phone calls and improve cybersecurity by detecting early stage reconnaissance attempts."
    />
    <meta
      name="twitter:image"
      content="https://github.com/SentryPeer/SentryPeer/raw/main/logo/LogoStandard.png"
    />
    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="icon" type="image/png" href={~p"/images/favicon.png"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased h-full">
    <main class="grid min-h-full place-items-center bg-white dark:bg-slate-800 py-24 px-6 sm:py-32 lg:px-8">
      <div class="text-center">
        <p class="text-base font-semibold text-indigo-600">500</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
          Internal Server Error
        </h1>
        <p class="mt-6 text-base leading-7 text-gray-600 dark:text-white">
          Sorry, we couldn't process your request. <br /> Please try again later.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href={~p"/"}
            class="rounded-md bg-gradient-to-r from-brand to-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Go back home
          </a>
          <a href={~p"/contact"} class="text-sm font-semibold text-gray-900 dark:text-white">
            Contact Us <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
